<!-- wp:group {"align":"wide","className":"cnl-layout","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","right":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide cnl-layout" style="padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:paragraph {"placeholder":"Add a short line, like “Trusted by”","style":{"typography":{"textAlign":"center"}}} -->
<p class="has-text-align-center"></p>
<!-- /wp:paragraph -->

<!-- wp:group {"align":"wide","layout":{"type":"grid","columnCount":5}} -->
<div class="wp-block-group alignwide"><!-- wp:image {"aspectRatio":"3/2","scale":"contain","sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img alt="" style="aspect-ratio:3/2;object-fit:contain"/></figure>
<!-- /wp:image -->

<!-- wp:image {"aspectRatio":"3/2","scale":"contain","sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img alt="" style="aspect-ratio:3/2;object-fit:contain"/></figure>
<!-- /wp:image -->

<!-- wp:image {"aspectRatio":"3/2","scale":"contain","sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img alt="" style="aspect-ratio:3/2;object-fit:contain"/></figure>
<!-- /wp:image -->

<!-- wp:image {"aspectRatio":"3/2","scale":"contain","sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img alt="" style="aspect-ratio:3/2;object-fit:contain"/></figure>
<!-- /wp:image -->

<!-- wp:image {"aspectRatio":"3/2","scale":"contain","sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img alt="" style="aspect-ratio:3/2;object-fit:contain"/></figure>
<!-- /wp:image --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
