<!-- wp:group {"align":"wide","className":"cnl-layout","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","right":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide cnl-layout" style="padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:heading {"placeholder":"Add a heading","style":{"typography":{"textAlign":"center"}}} -->
<h2 class="wp-block-heading has-text-align-center"></h2>
<!-- /wp:heading -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:image {"width":"120px","aspectRatio":"1","scale":"cover","sizeSlug":"large","linkDestination":"none","align":"center","className":"is-style-rounded"} -->
<figure class="wp-block-image aligncenter size-large is-resized is-style-rounded"><img alt="" style="aspect-ratio:1;object-fit:cover;width:120px;height:auto"/></figure>
<!-- /wp:image -->

<!-- wp:heading {"level":3,"placeholder":"Add a name","style":{"typography":{"textAlign":"center"}}} -->
<h3 class="wp-block-heading has-text-align-center"></h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"placeholder":"Add a role","style":{"typography":{"textAlign":"center"}}} -->
<p class="has-text-align-center"></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:image {"width":"120px","aspectRatio":"1","scale":"cover","sizeSlug":"large","linkDestination":"none","align":"center","className":"is-style-rounded"} -->
<figure class="wp-block-image aligncenter size-large is-resized is-style-rounded"><img alt="" style="aspect-ratio:1;object-fit:cover;width:120px;height:auto"/></figure>
<!-- /wp:image -->

<!-- wp:heading {"level":3,"placeholder":"Add a name","style":{"typography":{"textAlign":"center"}}} -->
<h3 class="wp-block-heading has-text-align-center"></h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"placeholder":"Add a role","style":{"typography":{"textAlign":"center"}}} -->
<p class="has-text-align-center"></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:image {"width":"120px","aspectRatio":"1","scale":"cover","sizeSlug":"large","linkDestination":"none","align":"center","className":"is-style-rounded"} -->
<figure class="wp-block-image aligncenter size-large is-resized is-style-rounded"><img alt="" style="aspect-ratio:1;object-fit:cover;width:120px;height:auto"/></figure>
<!-- /wp:image -->

<!-- wp:heading {"level":3,"placeholder":"Add a name","style":{"typography":{"textAlign":"center"}}} -->
<h3 class="wp-block-heading has-text-align-center"></h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"placeholder":"Add a role","style":{"typography":{"textAlign":"center"}}} -->
<p class="has-text-align-center"></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->
